DB_HOST=localhost:3307
DB_NAME=pms
DB_USER=root
DB_PASS=

JWT_SECRET=your_super_secret_key_here
JWT_EXPIRATION_SECONDS=86400

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com 
SMTP_PASS=your_app_password_here
to get example // (https://ethereal.email/create)

# Backend Api End Point
API_URL=http://localhost/PMS/api

# Log switches
DEBUG_LOG=true
CRON_LOG=true
JS_LOG=true

# Display errors
DISPLAY_DEBUG_ERRORS=true